<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html" ;charset="utf-8"/>
    <title><img src="">Account</title>
    <style>
      article{
        background-image: -webkit-linear-gradient(170deg,#ffecd2 20%,#fcb69f 80%,#ffc3a0 100%);
        box-sizing: border-box;
        font-family: fantasy;
      }
      /***for partial nav**/
      nav{
        color:orange;
        font-size: 15px;
        font-family: fantasy;
        background-color:#fff;
        display:flex;
      }

      nav div{
        flex:1;
        display:flex;
        font:10px;
      }

      .user_nav {
        margin-left:30%;
        margin-right:0;

      }
      .user_nav div{
        padding:0;
      }

      nav div p:hover{
        border-bottom: solid #0a0;
      }
      a{
        text-decoration: none;
        color:orange;
      }

      /**************************/


            .acc_wrapper{
              background-color: rgba(255, 255, 255, 0.4);
              text-transform:capitalize;
              border:solid rgba(255, 255, 255, 0.5);
              border-radius:7px;
              color:#fff;
              padding:5% 10%;
              font-size:1.3em;
              margin: 0% 10%;

            }
      section#body-wraper{
        margin:10%;
      }

      .acc_wrapper span{
        font-size: 0.7em;
        color:orange;
        margin-left: 13%;
        text-align: center;
        width:100%;
      }

      .nav{
        display:flex;
        justify-content:space-between;
        color:#fff;

      }
      nav h4:first-child{
        padding-left: 50%;

      }

      nav h4:last-child{
        padding-right: 20%;
      }
      nav h4>*{
        display:inline;
      }


      nav h4 p:hover{
        border-bottom: solid #0f0;
      }
      /*********footer design************/

      footer{
        display:flex;
        justify-content: space-around;
        font-family: inherit;
        color: orange;
      }

      footer img:hover,.toggle_edit:hover{
        transform:scale(0.9, 0.9);
      }

      /***********************/

       .toggle_edit:active{
         transform:scale(0.8, 0.8);
       }

      .acc_wrapper  div p+div{
        background-color: rgba(255, 255, 255, 0.5);
        border:solid rgba(255, 255, 255, 0.6);
        display:flex;
      }

       a{
         text-decoration: none;
         color: orange;
       }

    </style>
    <!--<link href="profile.css" rel="stylesheet" type="text/css"/>-->
  </head>

  <body>
    <% include partials/nav %>
    <article>
    <!--inject data into the span_tag from sign up-->
    <aside class="acc_wrapper">
      <div>
        <p>name</p>
        <div>
        <%if(user.username) {%><span class="val"><%=user.username%></span>
        <%}else if (user.displayName){%><span><%=user.displayName%><span><%}else{%>
          <span>empty</span><%}%>
        <span><img class="toggle_edit" src="icons/icons8-replace-50.png"></span>
      </div>
      </div>
      <div>
        <p>address</p>
        <div>
          <%if(user.address) {%><span class="val"><%=user.address%></span>
          <%}else {%><span>empty<span><%}%>
        <span><img class="toggle_edit" src="icons/icons8-replace-50.png"></span>
      </div>
      </div>
      <div>
        <p>email</p>
        <div>
          <%if(user.email) {%><span class="val"><%=user.email%></span>
          <%}else {%><span>empty<span><%}%>
        <span><img class="toggle_edit" src="icons/icons8-replace-50.png"></span>
      </div>
      </div>
      <div>
        <p>phone number </p>
        <div>
          <%if(user.phoneno) {%><span class="val"><%=user.phoneno%></span>
          <%}else {%><span>empty<span><%}%>
        <span><img class="toggle_edit" src="icons/icons8-replace-50.png"></span>
      </div>
      </div>
      <div>
        <p>password</p>
        <div>
          <%if(user.password) {%><span class="val"><%=user.password%></span>
          <%}else {%><span>empty<span><%}%>
        <span><img class="toggle_edit" src="icons/icons8-replace-50.png"></span>
      </div>
      </div>
      <div>
        <p>orders</p>
        <span><a href="/checkout">ORDER</a></span>
      </div>
    </aside>
    </section>

  </article>
  <%include partials/socials%>
  <script>
          //get dom elements
          const  listenAll  = document.querySelector('.acc_wrapper');
          const  edits  = document.querySelectorAll('.toggle_edit');
          const  outPour  = document.querySelectorAll('.val');
          let entySlate = '<input class="change" type="text" width="300"/>';
          const  change  = document.querySelector('input.change');

          function allowEdit(e){
            e.preventDefault();
            edits.forEach((edit)=>{
              console.log(change);
              if (e.target==edit && !e.target.parentNode.previousElementSibling.classList.contains('changei')){
                console.log(change);
          e.target.parentNode.previousElementSibling.innerHTML=entySlate;
          e.target.parentNode.previousElementSibling.classList.add('change1');
          console.log(change);
        } else if(e.target==edit && e.target.parentNode.previousElementSibling.contains('changei')){
          //need to be debugged
          console.log('now in else');
          e.target.parentNode.previousElementSibling.innerHTML=`<p>${change.value}</p>`;
          e.target.parentNode.previousElementSibling.classList.remove('change1');
        }
            })

          }



          listenAll.addEventListener('click', allowEdit);

          /*edits.forEach((edit)=>{
            edit.addEventListener('click', allowEdit);
          });*/




  </script>
  </body>
</html>
