<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta http-equiv="refresh" content="300"/>
    <title><img src="">Profile</title>
    <link href="profile.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <!--item and order edit page-->
    <%include partials/nav%>
    <section>
      <div class="nav_container">
        <div>
          <h3><!--inject the username--><%=user.username || user.displayName%><img src="icons/icons8-user-account-50.png"></h3>
        </div>
        <div class="orders">
          <ul>
            <!--item lists-->
            <%if (user.order.length!=0){for (i of user.order){%>
            <li>


              <article class="order <%=i.count%>" >
              <p>ORDER <span id="count"><%=i.count%></span></p>
              <p><a href="/map?ord=<%=i.count%>">Location:<%=i.location%></a><p>
                <p> <%=i.date.getDay()%>/<%=i.date.getMonth()%> /<%=i.date.getFullYear()%><p>
              <%if (user.order.delivery==false){%>
              <p>Delivey status</p>
              <p>Pending</p><%}else{%>
                <p>Delivey status</p>
                <p>Pending</p><%}%>
              <img class="odel" src="icons/icons8-delete-60.png">
            </article>
            <div class="info">
            <div>Pickup: <%=i.pickup%></div>
            <div>Recipient No: <%=i.recipientno%></div>
            <div>Delivery Destination: <%=i.destination%></div>
            <div>Recipient Name:<%=i.recipientname%></div>
            <div class=" adress">
              <h4>Pickup Point</h4>
              <p class='shown'><%=i.pickup%><!--to be replced with a text area on click for edit--></p>
              <img class="edit" src="icons/icons8-save-as-50.png">
              <div class="update hidden">
                <textarea  class="addressedit" rows="8" cols="30">change pickup point</textarea>
                <img  class='updatei' src="icons/icons8-replace-50.png">
              </div>

            </div>
          </div>

          </li>


          <%}}else{%>

                <article class="order" >
                <p>You have no Order in stock</p>
                  </article>

                  <%}%>


          </ul>
        </div>
      </div>
    </section>
    <%include partials/socials%>
    <script src='fronthandeler/profile.js'></script>
  </body>
  </html>
